<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layouts/head',{title:'Home | NextBlog'}) %>
    <script src="/js/script.js" defer></script>
  </head>
  <body>
    <%- include('../partials/top_app_bar') %>
    <main class="main"></main>
    <%- include('../layouts/footer') %>
  </body>
</html>
