<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./layouts/head',{title:'Register | NextBlog'}) %>
    <script type="module" src="/js/register.js"></script>
  </head>
  <body>
    <section class="section form-section">
      <div class="container">
        <div class="form-card">
          <div class="card-header">
            <a href="/" class="logo">
              <img src="/images/nextblog.svg" alt="NextBlog" width="163" height="40" class="light" />
              <img src="/images/nextblog.svg" alt="NextBlog" class="dark" width="163" height="40"/>
            </a>

            <p class="body-large text-on-surface-variant">
              Join the NextBlog community
            </p>
          </div>

          <form action="" class="form" data-form>
            <div class="text-field-wrapper">
              <label for="name" class="body-large label">Full Name</label>
              <input
                type="text"
                name="name"
                id="name"
                autocomplete="name"
                autofocus
                placeholder=" "
                required
                class="body-large text-field"
              />
            </div>
            <div class="text-field-wrapper">
                <label for="email" class="body-large label">Email</label>
                <input
                  type="email"
                  name="email"
                  id="email"
                  autocomplete="email"
                  placeholder=" "
                  required
                  class="body-large text-field"
                />
              </div>
              <div class="text-field-wrapper">
                <label for="password" class="body-large label">Password</label>
                <input
                  type="password"
                  name="password"
                  id="password"
                  placeholder=" "
                  required
                  minlength="8"
                  class="body-large text-field"
                />
              </div>
              <div class="text-field-wrapper">
                <label for="confirm-password" class="body-large label">Confirm Password</label>
                <input
                  type="password"
                  name="confirm_password"
                  id="confirm-password"
                  placeholder=" "
                  required
                  class="body-large text-field"
                />
              </div>
              <button type="submit" class="btn btn-fill" data-submit-btn>
                <p class="label-large">Sign Up</p>
                <div class="state-layer"></div>
              </button>
          </form>
          <div class="card-footer">
            <p class="label-large">Already have an account ?</p><a href="/login" class="label-large text-primary">Sign In</a>
          </div>
        </div>
      </div>
    </section>
    <div class="stackbar-wrapper" data-snackbar-wrapper>

    </div>
  </body>
</html>
